body {
    
}

.container {

    position: relative;
    text-align: center;
    color: white;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* .navbar */
  .navbar {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .destination-list {
    position: absolute;
    /* margin: auto; */
    text-align: left;
    text-decoration: none;
  }

  .destination-moon {
    text-decoration: none;
  }

  .destination-mars {
    text-decoration: none;
  }

  .destination-europa {
    text-decoration: none;
  }

  .destination-titan {
    text-decoration: none;
  }

  /* center-left */
  .center-left {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 25%;
  }

  .p-message-center-left {
      margin: 0;
      width: 70%;
  }

    /* center-right text */
    .center-right {
        position: absolute;
        top: 50%;
        right: 10%;
        color: black;
      }

      .white-circle-center-right {
          position: absolute;
          right: 10px;
          bottom: -150px;
          height: 300px;
      }

      .p-explore-center-right {
        color: black;  
        position: absolute;
        right: 125px;
        height: 50px;

      }
  
  /* Bottom left text */
  /* .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  } */
  
  /* Top left text */
  /* .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  } */
  
  
  

  
  