/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}



/* .navbar */
.navbar {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 65%;
  height: 9%;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.center-left {
  position: absolute;
  top: 20%;
  left: 32%;
  text-align: left;
  width: 39%;
}

.h1-space-text-center-left {
  font-size: 9rem;
}