

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* .navbar */
.navbar {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 65%;
  height: 4%;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.center-left {
  position: absolute;
  top: 50%;
  left: 35%;
  text-align: left;
  width: 50%;
}

.destination-images {
  width: 50%;
}
